<html>
    <head>
         <title>Gidmon Brewing Monitor</title>
        <script src='../socket.io.js'></script>
        <script src="../jquery.min.js"></script>
        <script type="text/javascript" src="../smoothie.js"></script>
        <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
        <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../angular/angular.js"></script>
    </head>
    <body>
        <h1>Gidmon Brewing Monitor</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-sm-offset-3 col-md-10 col-md-offset-1 main" ng-app="sensorApp">
                    <div class="row placeholders" ng-controller="sensorController">
                        <div class="col-xs-6 col-sm-3 placeholder" ng-repeat="reading in readings">
                            <div style="background-color:{{reading.color}};width: 15px;height: 15px;position: absolute;"></div>
                            <h1 id="{{reading.id}}">{{reading.temp}}</h1>
                            <h4>{{reading.name}}</h4>
                            <span class="text-muted">{{reading.id}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-sm-offset-3 col-md-10 col-md-offset-1 main">
                    <canvas id="chartcanvas" width="600" height="300"></canvas>
                </div>
            </div>
        </div>
        <input type="submit" onclick="debugtoggle()" id="debugbox" value="Toggle debug"/>  
        <input type="submit" onclick="StartBrew();" id="debugbox" value="Start Brewing!!"/>  
       

<script>
    var app = angular.module('sensorApp', []);
    var socket = io();
    var lines = [];
    var debug = false;
    var smoothie = new SmoothieChart({minValue:0,maxValue:105,grid:{fillStyle:'#ffffff'}});     
    smoothie.streamTo(document.getElementById("chartcanvas"), 3000 /*delay*/); 

    app.factory('socket', ['$rootScope', function ($rootScope) {
        var socket = io.connect();
        console.log("socket created");
        
        return {
            on: function (eventName, callback) {
                function wrapper() {
                    var args = arguments;
                    $rootScope.$apply(function () {
                        callback.apply(socket, args);
                    });
                }   
                socket.on(eventName, wrapper);
        
                return function () {
                    socket.removeListener(eventName, wrapper);
                };
            },
            emit: function (eventName, data, callback) {
                socket.emit(eventName, data, function () {
                    var args = arguments;
                    $rootScope.$apply(function () {
                        if(callback) {
                            callback.apply(socket, args);
                        }
                    });
                });
            }
        };
    }]);

    app.controller('sensorController', function($scope, socket) {
        socket.on("welcome", function(data){
            console.log("user data: " + JSON.stringify(data));  
            socket.emit('i am client', {data: 'pong!', id: data.id});
            // socket.emit('debug',true);
            var readings = new Object();
            
            socket.on("status", function(status) {
                readings["hltUt"] = {id: "hltUt", temp: status._hltUt, name: "Hlt (Ut)"};
                readings["mskUt"] = {id: "mskUt", temp: status._mskUt, name: "Msk (Ut)"};
                readings["mskIn"] = {id: "mskIn", temp: status._mskIn, name: "Msk (In)"};
                readings["timeLeft"] = {id: "timeLeft", temp: status._timelLeft/60000, name: "Time Left"};
                readings["targetTemperature"] = {id: "targetTemperature", temp: status._targetTemperature, name: "Target temperature"};
                $scope.readings = readings;
            });
            
            socket.on("temp", function(temp) {
                temp.temp = Math.round(temp.temp * 10)/10
                if(readings[temp.id] == null) {
                    var color = 'rgb(' + random(256,0) + ', ' + random(256,0) + ', ' + random(256,0) + ')';
                    temp.color = color;
                    readings[temp.id] = temp;
                    
                    lines[temp.id] = new TimeSeries();
                    smoothie.addTimeSeries(lines[temp.id],{ strokeStyle:color, lineWidth:2 });
                    lines[temp.id].append(new Date().getTime(), temp.temp);
                } else {
                    temp.color = readings[temp.id].color;
                    readings[temp.id] = temp;
                    lines[temp.id].append(new Date().getTime(), temp.temp);
                }
                $scope.readings = readings;
            });
        });
    });

    function random(min, max) {
        return Math.floor(Math.random() * (max-min) + min)
    }

    function StartBrew() {
        socket.emit("StartBrew");
    }

    function debugtoggle() {
        debug = !debug;
        socket.emit('debug',debug);
    }

</script>
    </body>
</html>